<div class="container" fxLayout="column" fxLayoutAlign="center" class="top-space">
    <mat-form-field fxLayout="row" class="top-space">
        <mat-label>Buscar Cotizacion</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
    </mat-form-field>
    <table mat-table [dataSource]="quoteDataSource" fxFlex="90%" class="top-space">
        <ng-container matColumnDef="clientName">
            <th mat-header-cell *matHeaderCellDef> Nombre Del Cliente</th>
            <td mat-cell *matCellDef="let element"> {{element.clientName}} </td>
        </ng-container>  
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Fecha</th>
            <td mat-cell *matCellDef="let element"> {{element.date | date:'medium' }} </td>
        </ng-container>  
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Descripcion </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>  
        <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef> Total </th>
            <td mat-cell *matCellDef="let element"> {{element.total}} </td>
        </ng-container>  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="showById(row.id)"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons fxFlex="90%"></mat-paginator>
</div>