<td-layout class='layout-nav-demo' sidenavWidth='280px'>
  <td-navigation-drawer flex sidenavTitle="JIDRacing Proformas" name="Daniel Carbajal" email="daniel.carbajal@JIDRacing.com">
    <mat-nav-list>
      <a mat-list-item routerLink="/clients"><mat-icon>perm_identity</mat-icon>Clients</a>   
      <a mat-list-item routerLink="/products"><mat-icon>shopping_cart</mat-icon>Products</a>
      <a mat-list-item tdLayoutToggle><mat-icon>close</mat-icon>Close Drawer</a>
    </mat-nav-list>
    <div td-navigation-drawer-menu>
      <mat-nav-list>
        <a mat-list-item><mat-icon>account_box</mat-icon>Profile</a>
      </mat-nav-list>
    </div>
  </td-navigation-drawer>
  <td-layout-nav toolbarTitle="JIDRacing" navigationRoute="/">
    <button mat-icon-button td-menu-button tdLayoutToggle>
      <mat-icon>menu</mat-icon>
    </button>
    <div td-sidenav-content class="top-space horizontal-space">
      <router-outlet></router-outlet>
    </div>
  </td-layout-nav>
 </td-layout>