<mat-card>
    <mat-card-header>
      <mat-card-title>Producto</mat-card-title>
      <mat-card-subtitle>Gestione los datos de sus productos</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div>
            <div fxLayout="row" fxLayoutAlign="space-between">
                <button mat-raised-button color="primary" (click)="addProduct()">
                    <mat-icon>note_add</mat-icon>
                    Nuevo Producto
                </button>
            </div>
            <div fxLayout='column'>
                <div fxFlex="90%">
                    <app-product-table></app-product-table>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>

